@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }
    nav ul li{
        margin: 0px;
    }
    .banner{
        flex-direction: column;
        margin: 0px;
        justify-content: center;
    }
    .banner-profile-pic{
        width: 100%;
    }
    .banner-content{
        /* width: 50%; */
        padding: 20px;
    }
    .banner-content div{
        display: flex;
        flex-direction:  column;
        gap: 30px;
    }
    .btn-contact{
        width: 100%;
        margin: 0;
    }
    .about{
        padding: 50px 20px;
    }
    .about-content >p{
        text-align: justify;
    }
    .about-items, nav, nav ul{
        /* display: grid; */
        /* grid-template-columns: repeat(2, 1fr); */
        flex-direction: column;
        gap: 30px;
    }
    .skills-container{
        flex-direction: column;
        padding: 0px 20px;
    }
    .skills>p{
        width: 100%;
        padding: 0px 20px;
        text-align: justify;
    }
    .skill>p{
        text-align: justify;
    }
    .resume-container{
        flex-direction: column;
        padding: 0px 20px;
    }
    footer{
        padding: 50px 20px;
    }
    .footer-container{
        flex-direction: column;
    }
}